{% include 'entities/pageheader.html' %}
<!--___________________________User Account Upgrade___________________________-->
<style>
  .helptext {
    visibility:hidden;
  }
</style>

<h1>Upgrade Account</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<DIV >
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="rm" value="2">
<input type="hidden" name="hosted_button_id" value="653Q56AK55ZSN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</DIV>

<!--______________________________________________________________________-->
<!--____________________End User Account Upgrade__________________________-->
<!--______________________________________________________________________-->
{% include 'entities/pagefooter.html' %}
