   <table class="attendance" id="attendance">
      <tr>
         <th class="head name">Patron</th>
         <th class="head name">Character</th>
         <th class="head num">XP&nbsp;Awarded</th>
         <th class="head name">Authorized&nbsp;By</th>
         <th class="head check">Approve</th>
         <th class="head check">Delete</th>
      </tr>
      {%for object in object_list%} 
      <tr>
         <td class="cell name">{{object.user.connect.get.name}}</td>
         <td class="cell name">{{object.character}}</td>
         <td class="cell num"><input class="num" type="text" id="input_xpawarded_{{object.id}}" value="{{object.xpawarded}}" onchange="setName({{object.id}});"/></td>
         <td class="cell name">{{object.authorizedby}}</td>
	 <td class="cell check">{%if object.authorizedby == None%}<input type="checkbox" name="approve_{{object.id}}" />{%endif%}</td>
         <td class="cell check"><input type="checkbox" name="del_{{object.id}}"/></td>
      </tr>
      {%endfor%}
      <tr><td></td><td></td><td></td><td></td><td></td><td><input type="submit" value="Update"></td></tr>
   </table>
