{% load templatetags %}
{% include 'entities/pageheader.html' %}
<!-- favoriteindexview.html -->

<h1>{{ form.sname }} Index</h1>

{% if form %}
    <ul>
    {% for item in latest_index %}
       {% with user=latest_index|hash:item %}
        <li><a href="{{ form.surl }}{{ user.id }}/">{{ user.name }}</a></li>
       {% endwith %}
    {% endfor %}
    </ul>
{% else %}
    <p>No {{ form.sname }}s have been found.</p>
{% endif %}

<form method="POST" action="{{ action }}">
{% csrf_token %}
   <input type="text" name="seekval" value="{{seekval}}" />
   <input type="submit" value="Search" />
</form>
<form method="POST" action="{{ action }}">
{% csrf_token %}
<table>
   <tr>
   <td>{{ form.as_p }}</td>
   <td><input type="submit" value="Add" /></td>
   </tr>
</table>
</form>
<!-- end favoriteindexview.html -->
{% include 'entities/pagefooter.html' %}
