{% load templatetags %}
{% include 'entities/pageheader.html' %}
<!-- Flex Detail Edit Linked-->
<style>span.datetime-shortcuts{visibility:hidden;display:none;}table.form{float:left;}</style>

<h1>{{ form.sname }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<DIV id="{{ form1.sname }}_div">
   <form method="POST" action="{{ action }}/" id="id_form_main">
   <table class="form">
   {% csrf_token %}
   {{ form1.as_table }}
   </table>
   <table class="form">
   <tr><td colpan=2><b>{{ form2.sname }}</b></td></tr>
   <tr><td>Name</td><td>Controller</td><td>Date Expires</td></tr>
   {% for object in linked_list %}<tr>{% for field in form2_fieldlist %}<td>{{ object|hash:field }}{% endfor %}</tr>{% endfor %}
   </table>
   <table class="form">
   {{ form2.as_table }}
   <tr>
      <td><label for="id_dateexpiry_0">Date Expires:</label></td>
      <td>Date: <input class="vDateField" id="id_dateexpiry_0" name="dateexpiry_0" size="10" type="text"><span class="datetime-shortcuts">&nbsp;<a href="javascript:DateTimeShortcuts.handleCalendarQuickLink(0, 0);">Today</a>&nbsp;|&nbsp;<a id="calendarlink0" href="javascript:DateTimeShortcuts.openCalendar(0);"><img alt="Calendar" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/img/icon_calendar.gif"></a></span><br/><br/>Time: <input class="vTimeField" id="id_dateexpiry_1" name="dateexpiry_1" size="8" type="text"><span class="datetime-shortcuts">&nbsp;<a href="javascript:DateTimeShortcuts.handleClockQuicklink(0, new Date().strftime('%H:%M:%S'));">Now</a>&nbsp;|&nbsp;<a id="clocklink0" href="javascript:DateTimeShortcuts.openClock(0);"><img alt="Clock" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/img/icon_clock.gif"></a></span></td>
   </tr>
   </table>
   <br/><br/><br/><br/>
   <br/><br/><br/><br/>
   <br/><br/><br/><br/>
<input type="Submit" class="submit button" id="submit" value="Update" />
   </form>
   <br/><br/><br/><br/>
   {%if buttons%}
   {%for button in buttons%}
   <input type="button" name="{{button.name}}" class="{{button.class}}" id="{{button.id}}" value="{{button.value}}" onClick="parent.location='{{form1.surl}}{{pkid}}{{button.link}}';" />
   {%endfor%}
   {%endif%}
</DIV>

<!-- End Flex Detail Edit Linked -->
{% include 'entities/pagefooter.html' %}
