{% load templatetags %}
<!-- charactersheetprint grid -->
<!--<style>
   @media all{
      .page-break{display:none;}
   }
   @media print{
      .page-break{display:block;page-break-before:always;}
      div.section{
         page-break-inside:avoid;
      }
   }


   br{
      clear:both;
   }
   body{
      color:{{color}};
      display:inline;
   }
   div{
      position:relative;
   }
   div.sheet{
      width:825
   }
   div.section{
      display:block;
      float:left;
      width:825;
   }
   div.column{
      float:left;
      display:block;
      width:275;
   }
   div.row{
      display:inline:
      width:275;
      height:25;
   }
   div.inline{
      float:left;
      display:inline;
      width:825;
   }
   div.traitcont{
      float:left;
   }
   div.heading{
      font-size:19;
   }
   div.attribute{
      text-align:center;
      font-size:24;
   }
   label.focusbox{
      float:left;
      font-size:9;
   }
   h3{
      clear:both; 
      text-align:center;
   }
   input.focusbox{
      float:left;
      disabled:"true";
   }
   td.heading{
      width:275;
   }
   th.heading{
      width:275;
   }
   td.column{
      width:250;
   }
   td.attribute{
      width:275;
   }
   td.advantage{
      width:275;
   }
   td.skill{
      display:inline;
      width:275;
   }
   td.spacer{
      width:50;
   }
   td.temper{
      width:275;
   }
   div.bkspacer{
      float:left;
      width:50;
   }
   div.advantage{
      width:200px;
      float:left;
   }
   div.advantagecount{
      width:25px;
      float:left;
   }
   div.listcont_Background{
      width:50;
      float:left;
   }
   div.listcont{
      width:256;
      float:left;
   }
   div.listcontmid{
      width:272;
      float:left;
   }
   div.listcont_temper{
      text-align:center;
      font-size:24;
      width:275;
      float:left;
   }
   div.listcont_health{
      text-align:left;
      font-size:16;
      width:130;
      float:left;
   }
   div.listcont_skill{
      float:left;
      width:130;
   }
   div.skillcount{
      float:left;
      width:90;
   }
   div.longbox{
      height:30;
      width:90;
      border-style:solid;
      float:left;
   }
   div.shortbox{
      height:30;
      width:30;
      border-style:solid;
      float:left;
   }
   div.boxspace{
      height:30;
      width:30;
      float:left;
   }
   div.listcont_beast{
      height:30;
      width:150;
      float:left;
   }
   div.beastspace{
      width:40;
      float:left;
   }
</style>
-->
<html>
<head>
<style>
   @media all{
      .page-break{display:none;}
   }
   @media print{
      .page-break{display:block;page-break-before:always;}
      div.section{
         page-break-inside:avoid;
      }
   }
   div.sheet{
      position:absolute;
      width:850;
      background-color:white;
      color:black;
   }
   div.header{
      position:fixed;
      width:inherit;
      display:block;
      float:left;
   }
   div.section{
      position:relative;
      width:inherit;
      display:block;
      float:left;
   }
   div.column{
      float:left;
      display:block;
      width:275;
   }
   div.row{
      display:inline:
      width:275;
      height:25;
   }
   div.header{
   }
</style>
</head>
<body>
<div id="character_sheet" class="sheet">
   <div id="pageheader" class="header">
      <div class="row">Date Printed:&nbsp;{{dateprinted}}</div>
      <div class="row">Date Effective:&nbsp;{{date}}</div>
      <div id="charinfo_player" class="row"></div>
      <div id="charinfo_name" class="row"></div>
   </div>
   <div id="charinfo" class="section">
      <div class="column">
          <div id="charinfo_archetype" class="row"></div>
          <div id="charinfo_clan" class="row"></div>
      </div>
      <div class="column">
          <div id="charinfo_Sect" class="row"></div>
      </div>
      <div class="column">
          <div id="charinfo_Title" class="row">Title:</div>
      </div>
   </div>
   <div id="attributes" class="section"></div>
   <div id="skills" class="section"></div>
   <div id="advantages" class="section"></div>
   <div id="tempers" class="section"></div>
   <div id="other" class="section"></div>
   <div id="description" class="section"></div>
</div>


<script type="text/javascript" src='https://code.jquery.com/jquery-1.8.2.js'></script>
<script type="text/javascript">
   var charsheet = [{{charsheet|safe}}];

   function populateData(){
      var charinfo = charsheet[0].charinfo;
      var keylist = ['Player','Name','Archetype','Clan'];
      var innerelem = '';
      var key = '';
      var test = charinfo['player'];
      for (var i=0;i<keylist.length;i=i+1){
         key = keylist[i].toLowerCase();
         innerelem = keylist[i]+'&nbsp;'+charinfo[key];
         $('#charinfo_'+key).html(innerelem);
      }
   }

   window.onload = populateData();

</script>

</body>
</html>
<!--



   <div id="logo" class="logo"></div>
   <div id="heading" class="section">
      <div class="inline"><div id="cont_Date_Printed">Date Printed: {{dateprinted}}</div><div id="cont_Date_Effective">Effective Date: {{date}}</div></div><br/>
      <div class="inline"><div id="traitcont_Owner" class="traitcont heading">Player: {{charinfo.owner}}</div></div>
      <div class="inline"><div id="traitcont_Name" class="traitcont heading">Characer: {{charinfo.name}}</div></div>
      <div class="inline"><div id="traitcont_Archetype" class="traitcont heading">Archetype: {{ctraits.Archetype.name}}</div></div>
      <div class="inline">
         <table><tr>
            <td class="heading"><div id="traitcont_Clan" class="traitcont heading">Clan: {{ctraits.Clan.name}}</div></td><td class="heading"><div id="traitcont_Setting" class="traitcont heading">Setting: {{charinfo.chaptertype}}</div></td><td class="heading"><div id="traitcont_Sect" class="traitcont heading">Sect: {{ctraits.Sect.name}}</div></td>
         </tr></table>
      </div>
   </div>
   <div id="attributes" class="section">
      <h3>Attributes</h3>
      <table>
         <tr>
            <td class="attribute"><div>
                  <div id="traitcont_Physical" class="traitcont attribute">Physical: {{ctraits.Attribute_Physical.count}}</div><br/><br/>
                  <div id="focuses">
                     <input id="Physical_Focus_Strength" type="checkbox" class="focusbox" {%if ctraits.Physical_Focus_Strength.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Physical_Focus_Strength">Strength</label>
                     <input id="Physical_Focus_Dexterity" type="checkbox" class="focusbox" {%if ctraits.Physical_Focus_Dexterity.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Physical_Focus_Dexterity">Dexterity</label>
                     <input id="Physical_Focus_Stamina" type="checkbox" class="focusbox" {%if ctraits.Physical_Focus_Stamina.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Physical_Focus_Stamina">Stamina</label>
                  </div>
            </div></td>
            <td class="attribute"><div>
                  <div id="traitcont_Social" class="traitcont attribute">Social: {{ctraits.Attribute_Social.count}}</div><br/><br/>
                  <div id="focuses">
                     <input id="Social_Focus_Charisma" type="checkbox" class="focusbox" {%if ctraits.Social_Focus_Charisma.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Social_Focus_Charisma">Charisma</label>
                     <input id="Social_Focus_Manipulation" type="checkbox" class="focusbox" {%if ctraits.Social_Focus_Manipulation.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Social_Focus_Manipulation">Manipulation</label>
                     <input id="Social_Focus_Appearance" type="checkbox"class="focusbox" {%if ctraits.Social_Focus_Appearance.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Social_Focus_Appearance">Appearance</label>
                  </div>
            </div></td>
            <td class="attribute"><div>
                  <div id="traitcont_Mental" class="traitcont attribute">Mental: {{ctraits.Attribute_Mental.count}}</div><br/><br/>
                  <div id="focuses">
                     <input id="Mental_Focus_Perception" type="checkbox"class="focusbox" {%if ctraits.Mental_Focus_Perception.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Mental_Focus_Perception">Perception</label>
                     <input id="Mental_Focus_Intelligence" type="checkbox"class="focusbox" {%if ctraits.Mental_Focus_Intelligence.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Mental_Focus_Intelligence">Inteligence</label>
                     <input id="Mental_Focus_Wits" type="checkbox"class="focusbox" {%if ctraits.Mental_Focus_Wits.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Mental_Focus_Wits">Wits</label>
                  </div>
            </div></td>
         </tr>
      </table>
      <div class="inline" style="bottom:25;">&nbsp;</div>
   </div>
   <div id="skills" class="section">
      <h3>Skills</h3>
      <div class="column">
         <div class="row">
            <div class="listcont_skill">Academics:</div><div class="skillcount">{{ctraits.Skill_Academics.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Animal Ken:</div><div class="skillcount">{{ctraits.Skill_Animal_Ken.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Athletics:</div><div class="skillcount">{{ctraits.Skill_Athletics.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Awareness:</div><div class="skillcount">{{ctraits.Skill_Awareness.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Brawl:</div><div class="skillcount">{{ctraits.Skill_Brawl.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Computer:</div><div class="skillcount">{{ctraits.Skill_Computer.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Crafts A:</div><div class="skillcount">{{ctraits.Skill_Crafts_A.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Crafts B:</div><div class="skillcount">{{ctraits.Skill_Crafts_B.count}}</div>
         </div>
         {%if ctraits.Skill_Crafts_C.count > 0%}<div class="row">
            <div class="listcont_skill">Crafts C:</div><div class="skillcount">{{ctraits.Skill_Crafts_C.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Crafts_D.count > 0%}<div class="row">
            <div class="listcont_skill">Crafts D:</div><div class="skillcount">{{ctraits.Skill_Crafts_D.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Crafts_E.count > 0%}<div class="row">
            <div class="listcont_skill">Crafts E:</div><div class="skillcount">{{ctraits.Skill_Crafts_E.count}}</div>
         </div>{%endif%}
         <div class="row">
            <div class="listcont_skill">Dodge:</div><div class="skillcount">{{ctraits.Skill_Dodge.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Drive:</div><div class="skillcount">{{ctraits.Skill_Drive.count}}</div>
         </div>
      </div>
      <div class="column">
         <div class="row">
            <div class="listcont_skill">Empathy:</div><div class="skillcount">{{ctraits.Skill_Empathy.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Firearms:</div><div class="skillcount">{{ctraits.Skill_Firearms.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Intimidation:</div><div class="skillcount">{{ctraits.Skill_Intimidation.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Investigation:</div><div class="skillcount">{{ctraits.Skill_Investigation.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Leadership:</div><div class="skillcount">{{ctraits.Skill_Leadership.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Linguistics:</div><div class="skillcount">{{ctraits.Skill_Linguistics.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Lore:</div><div class="skillcount">{{ctraits.Skill_Lore.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Medicine:</div><div class="skillcount">{{ctraits.Skill_Medicine.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Melee:</div><div class="skillcount">{{ctraits.Skill_Melee.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Occult:</div><div class="skillcount">{{ctraits.Skill_Occult.count}}</div>
         </div>
      </div>
      <div class="column">
         <div class="row">
            <div class="listcont_skill">Performance A:</div><div class="skillcount">{{ctraits.Skill_Performance_A.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Performance B:</div><div class="skillcount">{{ctraits.Skill_Performance_B.count}}</div>
         </div>
         {%if ctraits.Skill_Performance_C.count > 0%}<div class="row">
            <div class="listcont_skill">Performance C:</div><div class="skillcount">{{ctraits.Skill_Performance_C.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Performance_D.count > 0%}<div class="row">
            <div class="listcont_skill">Performance D:</div><div class="skillcount">{{ctraits.Skill_Performance_D.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Performance_E.count > 0%}<div class="row">
            <div class="listcont_skill">Performance E:</div><div class="skillcount">{{ctraits.Skill_Performance_E.count}}</div>
         </div>{%endif%}
         <div class="row">
            <div class="listcont_skill">Science A:</div><div class="skillcount">{{ctraits.Skill_Science_A.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Science B:</div><div class="skillcount">{{ctraits.Skill_Science_B.count}}</div>
         </div>
         {%if ctraits.Skill_Science_C.count > 0%}<div class="row">
            <div class="listcont_skill">Science C:</div><div class="skillcount">{{ctraits.Skill_Science_C.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Science_D.count > 0%}<div class="row">
            <div class="listcont_skill">Science D:</div><div class="skillcount">{{ctraits.Skill_Science_D.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Science_E.count > 0%}<div class="row">
            <div class="listcont_skill">Science E:</div><div class="skillcount">{{ctraits.Skill_Science_E.count}}</div>
         </div>{%endif%}
         <div class="row">
            <div class="listcont_skill">Security:</div><div class="skillcount">{{ctraits.Skill_Security.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Stealth:</div><div class="skillcount">{{ctraits.Skill_Stealth.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Streetwise:</div><div class="skillcount">{{ctraits.Skill_Streetwise.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Subterfuge:</div><div class="skillcount">{{ctraits.Skill_Subterfuge.count}}</div>
         </div>
         <div class="row">
            <div class="listcont_skill">Survival:</div><div class="skillcount">{{ctraits.Skill_Survival.count}}</div>
         </div>
      </div>
   </div>



   <div id="advantages" class="section">
      <div class="inline">
         <table id="advantages">
            <tr><th>Backgrounds</th><th>Disciplines</th><th>Merits & Flaws</th></tr>
            <tr>
               <td class="column"><div id="listcont_Background" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Background'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.count}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div></td>
               <td class="column">
                  <div id="listcont_Disciplines" class="listcontmid advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Discipline'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.count}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div><br/>
                  <div id="listcont_Necromantic_Rituals" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Necromantic Ritual'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.count}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div>
                  <div id="listcont_Necromantic_Rituals" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Thaumaturgical Ritual'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.count}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div>
                  <div id="listcont_Necromantic_Rituals" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Technique'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.count}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div>
                  <div id="listcont_Necromantic_Rituals" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Elder Power'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.count}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div>
               </td>
               <td class="column"><div id="listcont_Merit" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Merit'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.level}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div>
                  <div id="listcont_Spacer" class="listcont_advantage"><div class="advantage">&nbsp;</div><div class="advantagecount">&nbsp;</div><br/>
                  <div id="listcont_Flaw" class="listcont advantage">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Flaw'%}<div class="advantage">{{prop.name}}</div><div class="advantagecount">{{prop.level}}</div><br/>{%endif%}{%endwith%}{%endfor%}</div>
               </td>
            </tr>
            <tr><td></td><td></td><td></td></tr>
         </table>
      </div>
   </div>
   <div id="tempers" class="section">
      <div class="inline">
         <table id="tempers">
            <tr><th>Blood</th><th>Willpower</th><th>Morality</th></tr>
            <tr>
               <td class="column"><div id="listcont_Blood" class="listcont_temper">{{charinfo.blood}}/{{charinfo.bloodper}}</div></td>
               <td class="column"><div id="listcont_Willpower" class="listcont_temper">{{charinfo.willpower}}</div></td>
               <td class="column"><div id="listcont_Path" class="listcont_temper">{{charinfo.path}}</div>
                  <div id="listcont_PathLevel" class="listcont_temper">{{charinfo.pathlevel}}</div></td>
            </tr>
            <tr><td></td><td></td><td></td></tr>
         </table>
      </div>
   </div>
   <div id="extras" class="inline section">
      <table id="extras">
         <tr><th class="heading">Health Levels</th><th class="heading">Common Test Pools</th><th class="heading">Beast Traits</th></tr>
         <tr>
            <td class="column" style="vertical-align:text-top">
               {%with health=charinfo.health|toint%}
               <div id="listcont_health" class="listcont_health">Healthy</div>
               <div id="listcont_healthboxes" class="listcont_health">{%for i in health|iloop%}&#9633;{%endfor%}</div>
               </br/>
               <div id="listcont_health" class="listcont_health">Injured</div>
               <div id="listcont_healthboxes" class="listcont_health">{%for i in health|iloop%}&#9633;{%endfor%}</div>
               </br/>
               <div id="listcont_health" class="listcont_health">Incapacitated</div>
               <div id="listcont_healthboxes" class="listcont_health">{%for i in health|iloop%}&#9633;{%endfor%}</div>
               </br/>
               {%endwith%}
            </td>
            <td class="column">
               <div>Initiative: {%if ctraits.Attribute_Mental.count > ctraits.Attribute_Physical.count%}{{ctraits.Attribute_Mental.count}}{%else%}{{ctraits.Attribute_Physical.count}}{%endif%}</div><br/>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
            </td>
            <td class="column">
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;1 Beast Trait</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;2 Beast Traits</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;3 Beast Traits</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;4 Beast Traits</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;5 Beast Traits</div>
            </td>
         </tr>
      </table>
   </div>
   <div id="extratraits" class="section">
   {%if ctraits.Skill_Crafts_C.count > 0%}Crafts C: {{ctraits.Skill_Crafts_C.count}}, {%endif%}
   {%if ctraits.Skill_Crafts_D.count > 0%}Crafts D: {{ctraits.Skill_Crafts_D.count}}, {%endif%}
   {%if ctraits.Skill_Crafts_E.count > 0%}Crafts E: {{ctraits.Skill_Crafts_E.count}}, {%endif%}
   {%if ctraits.Skill_Performance_C.count > 0%}Performance C: {{ctraits.Skill_Performance_C.count}}, {%endif%}
   {%if ctraits.Skill_Performance_D.count > 0%}Performance D: {{ctraits.Skill_Performance_D.count}}, {%endif%}
   {%if ctraits.Skill_Performance_E.count > 0%}Performance E: {{ctraits.Skill_Performance_E.count}}, {%endif%}
   {%if ctraits.Skill_Science_C.count > 0%}Science C: {{ctraits.Skill_Science_C.count}}, {%endif%}
   {%if ctraits.Skill_Science_E.count > 0%}Science D: {{ctraits.Skill_Science_D.count}}, {%endif%}
   {%if ctraits.Skill_Science_E.count > 0%}Science E: {{ctraits.Skill_Science_E.count}}, {%endif%}
   </div>
   <div id="special" class="section">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Special' or prop.type == 'Unnatural Adaptation' or prop.type == 'Gift'%}{{object.name}}, {%endif%}{%endwith%}{%endfor%}</div>
   <div id="description" class="section">{{character.private_description}}</div>
</div>
-->


<!-- end charactersheetprint grid -->
