{% load templatetags %}
{%if showheader == True%}{% include 'entities/pageheader.html' %}{%endif%}
<!-- charactersheetprint grid -->
<style>
   @media all{
      .page-break{display:none;}
   }
   @media print{
      .page-break{display:block;page-break-before:always;}
      div.section{
         page-break-inside:avoid;
      }
   }


   br{
      clear:both;
   }
   body{
      color:{{color}};
      display:inline;
   }
   div{
      position:relative;
   }
   div.sheet{
      width:825
   }
   div.section{
      display:block;
      float:left;
      width:825;
   }
   div.column{
      float:left;
      display:block;
      width:275;
   }
   div.row{
      display:inline;
      overflow:hidden;
      width:275;
      height:25;
   }
   div.inline{
      float:left;
      display:inline;
      width:825;
   }
   div.traitcont{
      float:left;
   }
   div.heading{
      font-size:16;
   }
   div.printdate{
      font-size:10;
   }
   div.attribute{
      text-align:center;
      font-size:24;
   }
   label.focusbox{
      float:left;
      font-size:9;
   }
   h3{
      clear:both; 
      text-align:center;
   }
   input.focusbox{
      float:left;
      disabled:"true";
   }
   td.heading{
      width:275;
   }
   th.heading{
      width:275;
   }
   td.column{
      width:250;
   }
   td.attribute{
      width:275;
   }
   td.advantage{
      width:275;
   }
   td.skill{
      display:inline;
      width:275;
   }
   td.spacer{
      width:50;
   }
   td.temper{
      width:275;
   }
   div.bkspacer{
      float:left;
      width:50;
   }
   div.advantage{
      width:200px;
      float:left;
   }
   div.advantagecount{
      width:25px;
      float:left;
   }
   div.listcont_Background{
      width:50;
      float:left;
   }
   div.listcont{
      width:256;
      float:left;
   }
   div.listcontmid{
      width:272;
      float:left;
   }
   div.listcont_temper{
      text-align:center;
      font-size:24;
      width:275;
      float:left;
   }
   div.listcont_health{
      text-align:left;
      font-size:16;
      width:130;
      float:left;
   }
   div.itemname{
      float:left;
      width:130;
   }
   div.itemcount{
      float:left;
      width:90;
   }
   div.itemname{
      float:left;
      width:190;
   }
   div.itemcount{
      float:left;
      width:30;
   }
   div.longbox{
      height:30;
      width:90;
      border-style:solid;
      float:left;
   }
   div.shortbox{
      height:30;
      width:30;
      border-style:solid;
      float:left;
   }
   div.boxspace{
      height:30;
      width:30;
      float:left;
   }
   div.listcont_beast{
      height:30;
      width:150;
      float:left;
   }
   div.beastspace{
      width:40;
      float:left;
   }
   h4.cheader{
      font-size:16;
      text-align:center;
   }
   hr.seperator{
   }
</style>
{%if showheader == True%}<input type="button" onclick="window.open('../print');" value="Print Preview" />{%endif%}
<div id="character_sheet" class="sheet">
   <div id="logo" class="logo"></div>
   <div id="heading" class="section">
      <div class="inline"><div id="cont_Date_Printed" class="printdate">Date Printed: {{dateprinted}}</div><div id="cont_Date_Effective" class="printdate">Effective Date: {{date}}</div></div><br/>
      <div class="inline"><div id="traitcont_Owner" class="traitcont heading">Player: {{charinfo.owner}}</div></div>
      <div class="inline"><div id="traitcont_Name" class="traitcont heading">Characer: {{charinfo.name}}</div></div>
      <div class="inline"><div id="traitcont_Archetype" class="traitcont heading">Archetype: {{ctraits.Archetype.name}}</div></div>
      <div class="inline">
         <table><tr>
            <td class="heading"><div id="traitcont_Clan" class="traitcont heading">Clan: {{ctraits.Clan.name}}</div></td><td class="heading"><div id="traitcont_Setting" class="traitcont heading">Setting: {{charinfo.chaptertype}}</div></td><td class="heading"><div id="traitcont_Sect" class="traitcont heading">Sect: {{ctraits.Sect.name}}</div></td>
         </tr></table>
      </div>
   </div>
   <div id="attributes" class="section">
      <h3>Attributes</h3><hr class="seperator" />
      <table>
         <tr>
            <td class="attribute"><div>
                  <div id="traitcont_Physical" class="traitcont attribute">Physical: {{ctraits.Attribute_Physical.count}}</div><br/><br/>
                  <div id="focuses">
                     <input id="Physical_Focus_Strength" type="checkbox" class="focusbox" {%if ctraits.Physical_Focus_Strength.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Physical_Focus_Strength">Strength</label>
                     <input id="Physical_Focus_Dexterity" type="checkbox" class="focusbox" {%if ctraits.Physical_Focus_Dexterity.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Physical_Focus_Dexterity">Dexterity</label>
                     <input id="Physical_Focus_Stamina" type="checkbox" class="focusbox" {%if ctraits.Physical_Focus_Stamina.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Physical_Focus_Stamina">Stamina</label>
                  </div>
            </div></td>
            <td class="attribute"><div>
                  <div id="traitcont_Social" class="traitcont attribute">Social: {{ctraits.Attribute_Social.count}}</div><br/><br/>
                  <div id="focuses">
                     <input id="Social_Focus_Charisma" type="checkbox" class="focusbox" {%if ctraits.Social_Focus_Charisma.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Social_Focus_Charisma">Charisma</label>
                     <input id="Social_Focus_Manipulation" type="checkbox" class="focusbox" {%if ctraits.Social_Focus_Manipulation.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Social_Focus_Manipulation">Manipulation</label>
                     <input id="Social_Focus_Appearance" type="checkbox"class="focusbox" {%if ctraits.Social_Focus_Appearance.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Social_Focus_Appearance">Appearance</label>
                  </div>
            </div></td>
            <td class="attribute"><div>
                  <div id="traitcont_Mental" class="traitcont attribute">Mental: {{ctraits.Attribute_Mental.count}}</div><br/><br/>
                  <div id="focuses">
                     <input id="Mental_Focus_Perception" type="checkbox"class="focusbox" {%if ctraits.Mental_Focus_Perception.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Mental_Focus_Perception">Perception</label>
                     <input id="Mental_Focus_Intelligence" type="checkbox"class="focusbox" {%if ctraits.Mental_Focus_Intelligence.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Mental_Focus_Intelligence">Inteligence</label>
                     <input id="Mental_Focus_Wits" type="checkbox"class="focusbox" {%if ctraits.Mental_Focus_Wits.count == 1%}checked="checked"{%endif%}/><label class="focusbox" for="Mental_Focus_Wits">Wits</label>
                  </div>
            </div></td>
         </tr>
      </table>
      <div class="inline" style="bottom:25;">&nbsp;</div>
   </div>
   <div id="skills" class="section">
      <h3>Skills</h3><hr class="seperator"/>
      <div class="column">
         <div class="row">
            <div class="itemname">Academics:</div><div class="itemcount">{{ctraits.Skill_Academics.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Animal Ken:</div><div class="itemcount">{{ctraits.Skill_Animal_Ken.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Athletics:</div><div class="itemcount">{{ctraits.Skill_Athletics.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Awareness:</div><div class="itemcount">{{ctraits.Skill_Awareness.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Brawl:</div><div class="itemcount">{{ctraits.Skill_Brawl.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Computer:</div><div class="itemcount">{{ctraits.Skill_Computer.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Crafts A:</div><div class="itemcount">{{ctraits.Skill_Crafts_A.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Crafts B:</div><div class="itemcount">{{ctraits.Skill_Crafts_B.count}}</div>
         </div>
         {%if ctraits.Skill_Crafts_C.count > 0%}<div class="row">
            <div class="itemname">Crafts C:</div><div class="itemcount">{{ctraits.Skill_Crafts_C.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Crafts_D.count > 0%}<div class="row">
            <div class="itemname">Crafts D:</div><div class="itemcount">{{ctraits.Skill_Crafts_D.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Crafts_E.count > 0%}<div class="row">
            <div class="itemname">Crafts E:</div><div class="itemcount">{{ctraits.Skill_Crafts_E.count}}</div>
         </div>{%endif%}
         <div class="row">
            <div class="itemname">Dodge:</div><div class="itemcount">{{ctraits.Skill_Dodge.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Drive:</div><div class="itemcount">{{ctraits.Skill_Drive.count}}</div>
         </div>
      </div>
      <div class="column">
         <div class="row">
            <div class="itemname">Empathy:</div><div class="itemcount">{{ctraits.Skill_Empathy.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Firearms:</div><div class="itemcount">{{ctraits.Skill_Firearms.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Intimidation:</div><div class="itemcount">{{ctraits.Skill_Intimidation.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Investigation:</div><div class="itemcount">{{ctraits.Skill_Investigation.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Leadership:</div><div class="itemcount">{{ctraits.Skill_Leadership.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Linguistics:</div><div class="itemcount">{{ctraits.Skill_Linguistics.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Lore:</div><div class="itemcount">{{ctraits.Skill_Lore.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Medicine:</div><div class="itemcount">{{ctraits.Skill_Medicine.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Melee:</div><div class="itemcount">{{ctraits.Skill_Melee.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Occult:</div><div class="itemcount">{{ctraits.Skill_Occult.count}}</div>
         </div>
      </div>
      <div class="column">
         <div class="row">
            <div class="itemname">Performance A:</div><div class="itemcount">{{ctraits.Skill_Performance_A.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Performance B:</div><div class="itemcount">{{ctraits.Skill_Performance_B.count}}</div>
         </div>
         {%if ctraits.Skill_Performance_C.count > 0%}<div class="row">
            <div class="itemname">Performance C:</div><div class="itemcount">{{ctraits.Skill_Performance_C.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Performance_D.count > 0%}<div class="row">
            <div class="itemname">Performance D:</div><div class="itemcount">{{ctraits.Skill_Performance_D.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Performance_E.count > 0%}<div class="row">
            <div class="itemname">Performance E:</div><div class="itemcount">{{ctraits.Skill_Performance_E.count}}</div>
         </div>{%endif%}
         <div class="row">
            <div class="itemname">Science A:</div><div class="itemcount">{{ctraits.Skill_Science_A.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Science B:</div><div class="itemcount">{{ctraits.Skill_Science_B.count}}</div>
         </div>
         {%if ctraits.Skill_Science_C.count > 0%}<div class="row">
            <div class="itemname">Science C:</div><div class="itemcount">{{ctraits.Skill_Science_C.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Science_D.count > 0%}<div class="row">
            <div class="itemname">Science D:</div><div class="itemcount">{{ctraits.Skill_Science_D.count}}</div>
         </div>{%endif%}
         {%if ctraits.Skill_Science_E.count > 0%}<div class="row">
            <div class="itemname">Science E:</div><div class="itemcount">{{ctraits.Skill_Science_E.count}}</div>
         </div>{%endif%}
         <div class="row">
            <div class="itemname">Security:</div><div class="itemcount">{{ctraits.Skill_Security.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Stealth:</div><div class="itemcount">{{ctraits.Skill_Stealth.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Streetwise:</div><div class="itemcount">{{ctraits.Skill_Streetwise.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Subterfuge:</div><div class="itemcount">{{ctraits.Skill_Subterfuge.count}}</div>
         </div>
         <div class="row">
            <div class="itemname">Survival:</div><div class="itemcount">{{ctraits.Skill_Survival.count}}</div>
         </div>
      </div>
   </div>
   <div id="advantages" class="section">
      <hr/>
      <div class="column">
         <div class="row"><h4 class="cheader">Backgrounds</h4></div>
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Background'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.count}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%if charinfo.hasspecializations == 'True'%}<div class="row"><h4 class="cheader">Specializations</h4></div>{%endif%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.name == 'Linguistics Specialization'%}
         <div class="row">
            <div class="row">Linguistics: {{prop.name}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.name == 'Lore Specialization'%}
         <div class="row">
            <div class="row">Lore: {{prop.name}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.name == 'Influence: The Elite Specialization'%}
         <div class="row">
            <div class="row">The Elite: {{prop.name}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.name == 'Influence: The Underworld Specialization'%}
         <div class="row">
            <div class="row">The Underworld: {{prop.name}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
      </div>
      <div class="column">
         <div class="row"><h4 class="cheader">Disciplines</h4></div>
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Discipline'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.count}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Necromantic Ritual'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.level}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Thaumaturgical Ritual'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.level}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Elder Power'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.level}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Technique'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount"></div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
      </div>
      <div class="column">
         <div class="row"><h4 class="cheader">Merits &amp; Flaws</h4></div>
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Merit'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.level}}</div>
         </div>
            {%if prop.name == 'Unnatural Adaptation'%}{%for subobject in ctraits%}{%with subprop=ctraits|hash:subobject%}{%if subprop.type == 'Unnatural Adaptation'%}
            <div class="row">
               <div class="itemcount">&nbsp;</div><div class="itemname">{{subprop.name}}</div>
            </div>
            {%endif%}{%endwith%}{%endfor%}{%endif%}
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Flaw'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount">{{prop.count}}</div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
         {%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Gift'%}
         <div class="row">
            <div class="itemname">{{prop.name}}</div><div class="itemcount"></div>
         </div>
         {%endif%}{%endwith%}{%endfor%}
      </div>
   </div>
   <div id="tempers" class="section">
      <div class="inline">
         <table id="tempers">
            <tr><th>Blood</th><th>Willpower</th><th>Morality</th></tr>
            <tr>
               <td class="column"><div id="listcont_Blood" class="listcont_temper">{{charinfo.blood}}/{{charinfo.bloodper}}</div></td>
               <td class="column"><div id="listcont_Willpower" class="listcont_temper">{{charinfo.willpower}}</div></td>
               <td class="column"><div id="listcont_Path" class="listcont_temper">{{charinfo.path}}</div>
                  <div id="listcont_PathLevel" class="listcont_temper">{{charinfo.pathlevel}}</div></td>
            </tr>
            <tr><td></td><td></td><td></td></tr>
         </table>
      </div>
   </div>
   <div id="extras" class="inline section">
      <table id="extras">
         <tr><th class="heading">Health Levels</th><th class="heading">Common Test Pools</th><th class="heading">Beast Traits</th></tr>
         <tr>
            <td class="column" style="vertical-align:text-top">
               {%with health=charinfo.health|toint%}
               <div id="listcont_health" class="listcont_health">Healthy</div>
               <div id="listcont_healthboxes" class="listcont_health">{%for i in health|iloop%}&#9633;{%endfor%}</div>
               </br/>
               <div id="listcont_health" class="listcont_health">Injured</div>
               <div id="listcont_healthboxes" class="listcont_health">{%for i in health|iloop%}&#9633;{%endfor%}</div>
               </br/>
               <div id="listcont_health" class="listcont_health">Incapacitated</div>
               <div id="listcont_healthboxes" class="listcont_health">{%for i in health|iloop%}&#9633;{%endfor%}</div>
               </br/>
               {%endwith%}
            </td>
            <td class="column">
               <div>Initiative: {%if ctraits.Attribute_Mental.count > ctraits.Attribute_Physical.count%}{{ctraits.Attribute_Mental.count}}{%else%}{{ctraits.Attribute_Physical.count}}{%endif%}</div><br/>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
               <div class="longbox"></div><div class="shortbox"></div><div class="shortbox"></div><div class="boxspace"></div><div class="shortbox"></div>
            </td>
            <td class="column">
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;1 Beast Trait</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;2 Beast Traits</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;3 Beast Traits</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;4 Beast Traits</div><br/>
               <div class="beastspace">&nbsp;</div><div class="listcont_beast">&#9633;&nbsp;5 Beast Traits</div>
            </td>
         </tr>
      </table>
   </div>
   <div id="special" class="section">{%for object in ctraits%}{%with prop=ctraits|hash:object%}{%if prop.type == 'Special' or prop.type == 'Unnatural Adaptation' or prop.type == 'Gift'%}{{object.name}}, {%endif%}{%endwith%}{%endfor%}</div>
   <div id="description" class="section">{{character.private_description}}</div>
</div>


<script type="text/javascript">
   var ctraits = {{ctraits|safe}};

   var charinfo = {{characterinfo|safe}};

</script>

<!-- end charactersheetprint grid -->
{%if showheader == True%}{% include 'entities/pagefooter.html' %}{%endif%}
