<!-- Navigation Bar -->
<div class="head bar" id="headbar"><img width=124 height=37 src="https://portal.undergroundtheater.org/static/entities/img/utlogoblack.jpg"/>{%if userinfo.isadmin == True%}<div>v{{userinfo.dbversion}}</div>{%endif%} {{userinfo.announcement}}</div>
<div class="user bar" id="nb_wrapper">
   {% if user.username %}
   <div class="nav portal link noselect" id="nb_portal" onClick="parent.location='/portal/';">portal</div>
   <div class="nav support link noselect" id="nb_supt" onClick="parent.location='http://support.undergroundtheater.org';">support</div>
   <div class="nav logout link noselect" id="nb_logout" onClick="parent.location='/logout/';">logout</div>
   <div class="nav upgrade link noselect" id="nb_upgrade" onClick="parent.location='/account/upgrade/yearly/';">{{userinfo.upgrade}}</div>
   <div class="nav username link noselect" id="nb_username" onClick="parent.location='/account/detail/';"> {{ userinfo.name }}</div>
   <div class="nav welcome" id="nb_username"> Welcome, </div>
   {% endif %}
</div>
<!-- End Navigation Bar -->
