{% load staticfiles %}
<!--Page Header-->
<HTML>
<HEAD>
   <script>/*if (window.location.protocol != "https:"){window.location.protocol = "https:";}*/</script>
   <title >Underground Theater | {{title}}</title>
   <link rel="stylesheet" type="text/css" media="screen" href="https://portal.undergroundtheater.org/static/entities/css/bootstrap-combined.min.css" rel="stylesheet"> 
   <link rel="stylesheet" type="text/css" media="screen" href="https://portal.undergroundtheater.org/static/entities/css/bootstrap-datetimepicker.min.css">
	
   <script type="text/javascript">window.__admin_media_prefix__ = "https://portal.undergroundtheater.org/static/admin/";</script>
   <script type="text/javascript" src="/admin/jsi18n/"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/core.js"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/calendar.js"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/admin/DateTimeShortcuts.js"></script>
{%if title == 'Trait Details'%}
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/jsi18n.js"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/jquery.min.js"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/jquery.init.js"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/SelectFilter2.js"></script>
   <script type="text/javascript" src="https://portal.undergroundtheater.org/static/admin/js/SelectBox.js"></script>
   <link rel="stylesheet" type="text/css" href="https://portal.undergroundtheater.org/static/admin/css/widgets.css" />
   <link rel="stylesheet" type="text/css" href="https://portal.undergroundtheater.org/static/admin/css/base.css" />
   <link rel="stylesheet" type="text/css" href="https://portal.undergroundtheater.org/static/admin/css/forms.css" />
{%endif%}
   <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Playfair+Display' /> 
   
   <link rel='stylesheet' type='text/css' href='https://portal.undergroundtheater.org/static/entities/css/main.css' />
</HEAD>
<BODY>
<style>body{color:white}</style>
<CENTER>
{% include 'entities/navigationbar.html' %}
<!--End Page Header-->

<DIV id="pagecontent" class="pagecontent">

