{% load staticfiles %}
<!--Page Header-->
<HTML>
<HEAD>
   <script>/*if (window.location.protocol != "https:"){window.location.protocol = "https:";}*/</script>
   <title >Underground Theater | {{title}}</title>
   <!--<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
   <link rel="stylesheet" type="text/css" media="screen" href="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/css/bootstrap-combined.min.css" rel="stylesheet"> 
   <!--<link rel="stylesheet" type="text/css" media="screen" href="https://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">-->
   <link rel="stylesheet" type="text/css" media="screen" href="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/css/bootstrap-datetimepicker.min.css">
   <!--<link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/css/forms.css" />-->
	
   <script type="text/javascript">window.__admin_media_prefix__ = "https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/";</script>
   <script type="text/javascript" src="/admin/jsi18n/"></script>
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/core.js"></script>
   <!--script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/admin/RelatedObjectLookups.js"></script>-->
   <!--script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/actions.min.js"></script>-->
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/calendar.js"></script>
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/admin/DateTimeShortcuts.js"></script>
   <!--<script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/collapse.min.js"></script>-->
   <!--<script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/inlines.min.js"></script>-->
{%if title == 'Trait Details'%}
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/jsi18n.js"></script>
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/jquery.min.js"></script>
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/jquery.init.js"></script>
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/SelectFilter2.js"></script>
   <script type="text/javascript" src="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/js/SelectBox.js"></script>
   <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/css/widgets.css" />
   <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/css/base.css" />
   <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/admin/css/forms.css" />
{%endif%}
   <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Playfair+Display' /> 
   
   <link rel='stylesheet' type='text/css' href='https://undergro-wwwss7.ssl.supercp.com/gameheart/gameheart/entities/static/entities/main.css' />
</HEAD>
<BODY>
<style>body{color:white}</style>
<CENTER>
{% include 'entities/navigationbar.html' %}
<!--End Page Header-->

<DIV id="pagecontent" class="pagecontent">

