{% include 'entities/pageheader.html' %}
<!--___________________________User Password_________________________________-->
<style>
  .helptext {
    visibility:hidden;
  }
</style>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<DIV id="passreset_div">
   <form method="POST" action="/account/password/">
   <table>
   {% csrf_token %}
   <tr><th><label for="id_pass0">Old Password:</label></th><td><input id="id_pass0" maxlength="128" name="pass0" type="password" /></td></tr>
   <tr><td><label>{{emessage}}</label></td></tr>
   <tr><th><label for="id_pass1">New Password:</label></th><td><input id="id_pass1" maxlength="128" name="pass1" type="password" /></td></tr>
   <tr><th><label for="id_pass2">Repeat:</label></th><td><input id="id_pass2" maxlength="128" name="pass2" type="password" /></td></tr>
   <tr><td><input type="Submit" id="submit" value="Set" /></td></tr>
   </table>
   </form>
</DIV>

<!--________________________End User password________________________________-->
{% include 'entities/pagefooter.html' %}
