/*main.css*/
body {
   /*background-color:#231F20;*/
   background-color:#424451;
   color:white;
   font-family:"Playfair Display", " Helvetica", "Calibri", "Arial", "Verdana", "sans-serif";
}

div {
   position:relative;
   font-family:"Playfair Display", "Helvetica", "Calibri", "Arial", "Verdana", "sans-serif";
}

div.pagecontent {
   position:relative;
   width:900px;
}

div.form {
   float:left;
   width:450px;
}

div.tile {
   color:white;
   background-image:url('https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/images/blank.jpg');
   font-size:27;
   float:left;
   border-radius:15px;
   width:150px;
   height:126px;
   display:table-cell;
   vertical-align:middle;
   text-align:center;
   overflow:hidden;
}

div.tile:hover{
   color:white;
   background-image:url('https://googledrive.com/host/0B9M7L7oQ_GqFZnRXd2dXM2laN2M/images/blankup.jpg');
}


div.tilelbl {
   top:46;
}

div.tiledbl {
   top:28;
}

div.section {
   text-align:left;
}

div.link {
   color:white;
}

div.link:hover {
   color:#231F20;
}

div.bar {
   width:100%;
   height:37px;
} 

div.user {
   color:white;
}

div.head {
   background-color:#231F20;
   color:white;
   text-align:left;
   line-height:37px;
   vertical-align:middle;
}

div.nav {
   color:white;/*#FF5E63;*/
   font-size:26;
   padding:8px;
   float:right;
}

div.datetime{
   display:inline;
   float:left;
   width:300;
}

span.datetime-shortcuts{
   display:inline;
   float:left;
   font-size:14;
}

img{
   float:left;
}

P {
   position:relative;
   display:table-cell;
   text-align:center;
   vertical-align:middle;
   line-height:normal;
   word-wrap:break-word;
}

img {
   position:relative;
   display:table-cell;
   text-align:center;
   vertical-align:middle;
   line-height:normal;
}

h1 {
   color:white;
}

h2 {
   color:white;
}

h3 {
   color:white;
}

li.main {
   color:white;
}

a {
   color:white;
}

a:visited{
   color:white;
}

span{
   color:white;
}

label{
   color:white;
}

.noselect {
   user-select:none;
   -khtml-user-select:none;
   -webkit-touch-callout:none;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
}


